NEXT_PUBLIC_API_URL=http://api.interna.test:8000
NEXT_PUBLIC_APP_URL=http://interna.test:3000
NEXT_PUBLIC_ROOT_DOMAIN=interna.test

NEXT_PUBLIC_REVERB_APP_KEY=local
NEXT_PUBLIC_REVERB_HOST=reverb.interna.test
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SCHEME=http

NEXT_PUBLIC_SENTRY_DSN=
